<div>
  <app-header></app-header>
  <main class="container-fluid">
    <div class="row">
      <form [formGroup]="form">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            type="text"
            pInputText
            placeholder="Entre com o nome de um Digimon"
            formControlName="search"
          />
        </p-iconField>
      </form>
    </div>
    <div class="result" *ngIf="digimons">
      <div class="grid">
        <ng-container *ngFor="let digimon of digimons.content">
          <p-card
            [header]="digimon.name"
            [subheader]="digimon.name"
            [style]="{
              width: '300px',
              margin: '0.8rem',
            }"
          >
            <ng-template pTemplate="header">
              <p-image
                [alt]="digimon.name"
                [src]="digimon.image"
                [style]="{
                  width: '250px',
                  height: '250px',
                  objectFit: 'cover',
                }"
              />
            </ng-template>
            <p><strong>Level:</strong> {{ digimon.name }}</p>
            <ng-template pTemplate="footer">
              <div class="flex gap-3 mt-1">
                <p-button
                  pButton
                  label="Visualizar detalhes"
                  icon="pi pi-eye"
                />
              </div>
            </ng-template>
          </p-card>
        </ng-container>
      </div>
    </div>
  </main>
</div>
