<div>
  <app-header></app-header>
  <main class="container-fluid">
    <div class="row">
      <form [formGroup]="form">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            type="text"
            pInputText
            placeholder="Entre com o nome de um Digimon"
            formControlName="search"
          />
        </p-iconField>
      </form>
    </div>
    <div class="result" *ngIf="digimons">
      <div class="grid">
        <ng-container *ngFor="let digimon of digimons.content">
          <p-card
            [header]="digimon.id + ' - ' + digimon.name"
            [style]="{
              width: '300px',
              margin: '0.8rem',
            }"
          >
            <ng-template pTemplate="header">
              <p-image
                [alt]="digimon.name"
                [src]="digimon.image"
                [style]="{
                  width: '250px',
                  height: '250px',
                  objectFit: 'cover',
                }"
              />
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="flex gap-3 mt-1">
                <p-button
                  pButton
                  label="Visualizar detalhes"
                  icon="pi pi-eye"
                />
              </div>
            </ng-template>
          </p-card>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <p-paginator
        [first]="first"
        [rows]="pageSize"
        [totalRecords]="totalRecords"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
        currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros"
        (onPageChange)="onPageChange($event)"
      >
      </p-paginator>
    </div>
  </main>
</div>
